name: Deploy

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2
      - name: Deploy to Digital Ocean
        run: |
          mkdir -p ~/.ssh
          ssh-keyscan -H 104.131.167.165 >> ~/.ssh/known_hosts
          sshpass -p 'PassWord1234Yeah' ssh -o StrictHostKeyChecking=no root@104.131.167.165 "
          cd 4-containerized-app-exercise-goat && 
          docker-compose down && 
          git pull origin main && 
          docker-compose build --no-cache && 
          docker-compose up "|| true